<template>
    <a class="nes-container with-title video" v-bind:href="`/player?video=${video.name}`">
        <p class="title nes-text is-primary">{{ video.name }}</p>
        <img v-bind:src="`${videoUrl}/thumbnail.png`" alt="video thumbnail" class="video-thumbnail">
    </a>
</template>

<script>
    export default {
        name: "Video",
        props: {
            video: {
                required: true
            }
        },
        computed: {
            videoUrl() {
                return `${this.$config.api}/${this.video.name}`;
            }
        }
    }
</script>

<style scoped>
    .video {
        flex-basis: 30%;
        margin: 1em;
        flex-grow: 1;
        flex-shrink: 0;
        text-decoration: none;
    }

    .video-thumbnail {
        width: 100%;
        height: auto;
        transition: transform 0.2s ease-in-out;
    }

    .video-thumbnail:hover {
        transform: scale(1.15);
    }

    @media (min-width: 600px) {
        .video {
            flex-grow: 0;
        }
    }
</style>