<template>
    <div id="home" class="nes-container is-rounded">
        <div class="nes-field">
            <label for="search" class="nes-text is-primary">Search</label>
            <input type="text" id="search" v-model="search" class="nes-input" placeholder="Enter your search term">
        </div>
        <div id="video-container">
            <Video :video="video" v-bind:key="video.name" v-for="video in filteredVideos"></Video>
            <p v-show="filteredVideos.length === 0" class="nes-text is-primary">No videos found</p>
        </div>
    </div>
</template>

<script>
    import Video from '../components/Video';
    export default {
        name: "home",
        components: {Video},
        data() {
            return {
                videos: [],
                search: ''
            }
        },
        computed: {
            filteredVideos() {
                return this.videos.filter(video => video.name.toLowerCase().indexOf(this.search.toLowerCase()) >= 0);
            }
        },
        created() {
            this.getAllVideos().then(data => this.videos = data);
        },
        methods: {
            async getAllVideos() {
                const response = await fetch(this.$config.api);
                const json = await response.json();
                const data = Object.keys(json).map(key => json[key]);
                data.filter(item => item.type === 'directory');
                return data.map(item => this.createVideoObject(item)).filter(item => item.isDirectory);
            },
            createVideoObject(item) {
                return {
                    name: item.name,
                    isDirectory: item.type === 'directory'
                }
            }
        }
    }
</script>

<style scoped>
    #video-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2em 0;
    }
</style>