<template>
    <div class="nes-container is-rounded" id="not-found">
        <i class="nes-bcrikko"></i>
        <div class="nes-balloon from-left">
            <strong class="nes-text is-error">Not Found:</strong> This location does not exist. Go back <a href="/">home</a>.
        </div>
    </div>
</template>

<script>
    export default {
        name: "notFound"
    }
</script>

<style scoped>
    #not-found {
        display: flex;
        align-items: start;
        padding: 4em 0;
    }

    #not-found .nes-bcrikko {
        margin-left: 4em;
    }

    #not-found .nes-balloon {
        margin-left: 2em;
    }
</style>