<template>
    <div class="nes-container is-rounded">
        <div class="video-wrapper">
            <video controls>
                <source v-bind:src="videoUrl + '/video.mp4'" type="video/mp4">
                <source v-bind:src="videoUrl + '/video.webm'" type="video/webm">
                <source v-bind:src="videoUrl + '/video.ogg'" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</template>

<script>
    export default {
        name: "player",
        computed: {
            videoUrl() {
                const url = new URL(window.location.href);
                const videoName = url.searchParams.get("video");
                return `${this.$config.api}/${videoName}`;
            }
        }
    }
</script>

<style scoped>
    .video-wrapper {
        display: block;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        overflow: hidden;
        text-align: center;
    }

    .video-wrapper video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>