<template>
    <div id="app">
        <div id="nav">
            <div id="nav-logo">
                <p class="nes-text is-error"><b>Auto&nbsp;</b></p>
                <img src="/favicon.ico" alt="Logo">
            </div>
            <div id="nav-links">
                <a v-if="currentRoute !== '/'" class="nes-btn is-primary" href="/">Home</a>
            </div>
        </div>
        <main>
            <div id="main-container">
                <component :is="page"></component>
            </div>
        </main>
        <footer id="footer">
            <span>Auto Super Tux Kart</span>
            <span>&copy; 2019 aakado</span>
            <span><a href="https://gitlab.com/aakado/autotux" target="_blank">GitLab</a></span>
        </footer>
    </div>
</template>

<script>

import Home from './pages/home';
import Player from './pages/player';
import NotFound from './pages/notFound';

export default {
    name: 'app',
    data() {
        return {
            routes: {
                '/': Home,
                '/player': Player,
            },
            currentRoute: window.location.pathname
        }
    },
    computed: {
        page() {
            return this.routes[this.currentRoute] || NotFound;
        }
    }
}

</script>

<style>
    body {
        min-height: 100vh;
        background: #fff;
    }

    main {
        background-color: #f5f5f5;
        padding: 4em 0;
    }

    #main-container {
        max-width: 95%;
        margin: 0 auto;
        background-color: #fff;
    }

    #nav {
        border-bottom: #000 solid 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25em 3em;
        background-color: #fff;
    }

    #nav-logo {
        height: 4em;
        display: flex;
        align-items: center;
    }

    #nav-logo img {
        width: auto;
        height: 100%;
    }

    #nav-logo p {
        margin-bottom: 0;
    }

    #footer {
        border-top: #000 solid 4px;
        background-color: #fff;
        padding: 1.5em 0;
        display: flex;
        justify-content: space-evenly;
    }

    #footer > * {
        flex-grow: 1;
        flex-basis: 33.3%;
        text-align: center;
    }

    @media (min-width: 1200px) {
        #main-container {
            max-width: 75%;
        }

        #nav {
            padding-left: 10em;
            padding-right: 10em;
        }
    }
</style>